* {
    margin: 0;
    padding: 0;
 }
 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
 }
 #button{
 }
 #colorPicker{
    border: none;

 }
#gridContainer{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: yellow;
    padding: 10px;
}
.gridItem{
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
}
.gridItem:hover{
    background-color: black;
}
